            <%- model_class = Ocorrencia -%>
            <div class="page-header">
              <h1> Ocorrências </h1>
            </div>

              <table class="table table-striped">
                <thead>
                  <tr>
                    <th><%= "ID" %></th>
                    <th><%= "Data" %></th>
                    <th><%= "Hora" %></th>
                    <th><%= "Ocorrido" %></th>
                    <th><%= "Procedimento" %></th>
                    <th><%= "Sintoma Aprensentado" %></th>
                    <th><%= "Pais informados" %></th>
                  </tr>
                </thead>
                <tbody>
                    <% @ocorrencias.each do |ocorrencia| %>

                    <td><%= link_to ocorrencia.id, ocorrencia_path(ocorrencia) %></td>
                    <td><%= ocorrencia.data %></td>
                    <td><%= ocorrencia.hora %></td>
                    <td><%= ocorrencia.ocorrido %></td>
                    <td><%= ocorrencia.procedimento %></td>
                    <td><%= ocorrencia.sintomaApresentado %></td>
                    <td><%= ocorrencia.paisInformados %></td>
                    <td><%= link_to "Visualizar", ocorrencia_path(ocorrencia), :class => 'btn btn-default btn-xs' %></td>
                  </tr>

                  <% end %>
                </tbody>
              </table>

              <div class="botao_adicao">
              </div>

              <%= link_to "Novo", new_ocorrencia_path, :class => 'btn btn-primary' %>
              <%= link_to "Voltar", home_path, :class => 'btn btn-primary' %>
