<%- model_class = Ocorrencia -%>
<div class="page-header">
  <h1>Ocorrência <%= @ocorrencia.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:data) %>:</strong></dt>
  <dd><%= @ocorrencia.data %></dd>
  <dt><strong><%= model_class.human_attribute_name(:hora) %>:</strong></dt>
  <dd><%= @ocorrencia.hora %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ocorrido) %>:</strong></dt>
  <dd><%= @ocorrencia.ocorrido %></dd>
  <dt><strong><%= model_class.human_attribute_name(:procedimento) %>:</strong></dt>
  <dd><%= @ocorrencia.procedimento %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sintomaApresentado) %>:</strong></dt>
  <dd><%= @ocorrencia.sintomaApresentado %></dd>
  <dt><strong><%= model_class.human_attribute_name(:paisInformados) %>:</strong></dt>
  <dd><%= @ocorrencia.paisInformados %></dd>
</dl>

<%= link_to "Voltar",
            ocorrencias_path, :class => 'btn btn-default'  %>

<%= link_to "Editar",
            edit_ocorrencia_path(@ocorrencia), :class => 'btn btn-default' %>

<%= link_to "Apagar",
            ocorrencia_path(@ocorrencia),
            :method => 'delete',
            :data => { :confirm => "Deseja Prosseguir? A Ocorrência será apagada!" },
            :class => 'btn btn-danger' %>