<%- model_class = Aluno -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:nome) %>:</strong></dt>
  <dd><%= @aluno.nome %></dd>
  <dt><strong><%= model_class.human_attribute_name(:dataNascimento) %>:</strong></dt>
  <dd><%= @aluno.dataNascimento %></dd>
  <dt><strong><%= model_class.human_attribute_name(:turma) %>:</strong></dt>
  <dd><%= @aluno.turma %></dd>
  <dt><strong><%= model_class.human_attribute_name(:responsavelNome1) %>:</strong></dt>
  <dd><%= @aluno.responsavelNome1 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:responsavelTelefone1) %>:</strong></dt>
  <dd><%= @aluno.responsavelTelefone1 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:responsavelNome2) %>:</strong></dt>
  <dd><%= @aluno.responsavelNome2 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:responsavelTelefone2) %>:</strong></dt>
  <dd><%= @aluno.responsavelTelefone2 %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              alunos_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_aluno_path(@aluno), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              aluno_path(@aluno),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
