<p id="notice"><%= notice %></p>

<p>
  <strong>Medicamentocontrolado:</strong>
  <%= @ficha.medicamentoControlado %>
</p>

<p>
  <strong>Medicamentocontroladodescricao:</strong>
  <%= @ficha.medicamentoControladoDescricao %>
</p>

<p>
  <strong>Alergiamedicamento:</strong>
  <%= @ficha.alergiaMedicamento %>
</p>

<p>
  <strong>Alergiamedicamentodescricao:</strong>
  <%= @ficha.alergiaMedicamentoDescricao %>
</p>

<p>
  <strong>Medicamentodorfebre:</strong>
  <%= @ficha.medicamentoDorFebre %>
</p>

<p>
  <strong>Alergiainsetos:</strong>
  <%= @ficha.alergiaInsetos %>
</p>

<p>
  <strong>Alergiainsetosdescricao:</strong>
  <%= @ficha.alergiaInsetosDescricao %>
</p>

<p>
  <strong>Alergiainsetosmedicamentos:</strong>
  <%= @ficha.alergiaInsetosMedicamentos %>
</p>

<p>
  <strong>Nauseasvomitos:</strong>
  <%= @ficha.nauseasVomitos %>
</p>

<p>
  <strong>Nauseasvomitosdescricao:</strong>
  <%= @ficha.nauseasVomitosDescricao %>
</p>

<p>
  <strong>Alergiaalimentos:</strong>
  <%= @ficha.alergiaAlimentos %>
</p>

<p>
  <strong>Alergiaalimentosdescricao:</strong>
  <%= @ficha.alergiaAlimentosDescricao %>
</p>

<p>
  <strong>Vacinas:</strong>
  <%= @ficha.vacinas %>
</p>

<p>
  <strong>Vacinasdescricao:</strong>
  <%= @ficha.vacinasDescricao %>
</p>

<p>
  <strong>Convenio:</strong>
  <%= @ficha.convenio %>
</p>

<p>
  <strong>Convenionome:</strong>
  <%= @ficha.convenioNome %>
</p>

<p>
  <strong>Convenionumero:</strong>
  <%= @ficha.convenioNumero %>
</p>

<p>
  <strong>Conveniohospitais:</strong>
  <%= @ficha.convenioHospitais %>
</p>

<p>
  <strong>Autorizahospital:</strong>
  <%= @ficha.autorizaHospital %>
</p>

<p>
  <strong>Modificacaosaude:</strong>
  <%= @ficha.modificacaoSaude %>
</p>

<p>
  <strong>Modificacaosaudedescricao:</strong>
  <%= @ficha.modificacaoSaudeDescricao %>
</p>

<p>
  <strong>Tratamento:</strong>
  <%= @ficha.tratamento %>
</p>

<p>
  <strong>Tratamentodescricao:</strong>
  <%= @ficha.tratamentoDescricao %>
</p>

<p>
  <strong>Alteracaosaude:</strong>
  <%= @ficha.alteracaoSaude %>
</p>

<p>
  <strong>Alteracaosaudedescricao:</strong>
  <%= @ficha.alteracaoSaudeDescricao %>
</p>

<p>
  <strong>Diabetico:</strong>
  <%= @ficha.diabetico %>
</p>

<p>
  <strong>Usosorocaseiro:</strong>
  <%= @ficha.usoSoroCaseiro %>
</p>

<p>
  <strong>Alergiabandaidesparadrapo:</strong>
  <%= @ficha.alergiaBandaidEsparadrapo %>
</p>

<p>
  <strong>Bandaidesparadrapo:</strong>
  <%= @ficha.bandaidEsparadrapo %>
</p>

<p>
  <strong>Autorizabanho:</strong>
  <%= @ficha.autorizaBanho %>
</p>

<p>
  <strong>Historicodoencascontagiosas:</strong>
  <%= @ficha.historicoDoencasContagiosas %>
</p>

<p>
  <strong>Historicodoencascontagiosasdescricao:</strong>
  <%= @ficha.historicoDoencasContagiosasDescricao %>
</p>

<p>
  <strong>Medicamentosautorizados:</strong>
  <%= @ficha.medicamentosAutorizados %>
</p>

<p>
  <strong>Observacoes:</strong>
  <%= @ficha.observacoes %>
</p>

<%= link_to 'Edit', edit_ficha_path(@ficha) %> |
<%= link_to 'Back', fichas_path %>
