<%- model_class = Ficha -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:medicamentoControlado) %>:</strong></dt>
  <dd><%= @ficha.medicamentoControlado %></dd>
  <dt><strong><%= model_class.human_attribute_name(:medicamentoControladoDescricao) %>:</strong></dt>
  <dd><%= @ficha.medicamentoControladoDescricao %></dd>
  <dt><strong><%= model_class.human_attribute_name(:alergiaMedicamento) %>:</strong></dt>
  <dd><%= @ficha.alergiaMedicamento %></dd>
  <dt><strong><%= model_class.human_attribute_name(:alergiaMedicamentoDescricao) %>:</strong></dt>
  <dd><%= @ficha.alergiaMedicamentoDescricao %></dd>
  <dt><strong><%= model_class.human_attribute_name(:medicamentoDorFebre) %>:</strong></dt>
  <dd><%= @ficha.medicamentoDorFebre %></dd>
  <dt><strong><%= model_class.human_attribute_name(:alergiaInsetos) %>:</strong></dt>
  <dd><%= @ficha.alergiaInsetos %></dd>
  <dt><strong><%= model_class.human_attribute_name(:alergiaInsetosDescricao) %>:</strong></dt>
  <dd><%= @ficha.alergiaInsetosDescricao %></dd>
  <dt><strong><%= model_class.human_attribute_name(:alergiaInsetosMedicamentos) %>:</strong></dt>
  <dd><%= @ficha.alergiaInsetosMedicamentos %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nauseasVomitos) %>:</strong></dt>
  <dd><%= @ficha.nauseasVomitos %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nauseasVomitosDescricao) %>:</strong></dt>
  <dd><%= @ficha.nauseasVomitosDescricao %></dd>
  <dt><strong><%= model_class.human_attribute_name(:alergiaAlimentos) %>:</strong></dt>
  <dd><%= @ficha.alergiaAlimentos %></dd>
  <dt><strong><%= model_class.human_attribute_name(:alergiaAlimentosDescricao) %>:</strong></dt>
  <dd><%= @ficha.alergiaAlimentosDescricao %></dd>
  <dt><strong><%= model_class.human_attribute_name(:vacinas) %>:</strong></dt>
  <dd><%= @ficha.vacinas %></dd>
  <dt><strong><%= model_class.human_attribute_name(:vacinasDescricao) %>:</strong></dt>
  <dd><%= @ficha.vacinasDescricao %></dd>
  <dt><strong><%= model_class.human_attribute_name(:convenio) %>:</strong></dt>
  <dd><%= @ficha.convenio %></dd>
  <dt><strong><%= model_class.human_attribute_name(:convenioNome) %>:</strong></dt>
  <dd><%= @ficha.convenioNome %></dd>
  <dt><strong><%= model_class.human_attribute_name(:convenioNumero) %>:</strong></dt>
  <dd><%= @ficha.convenioNumero %></dd>
  <dt><strong><%= model_class.human_attribute_name(:convenioHospitais) %>:</strong></dt>
  <dd><%= @ficha.convenioHospitais %></dd>
  <dt><strong><%= model_class.human_attribute_name(:autorizaHospital) %>:</strong></dt>
  <dd><%= @ficha.autorizaHospital %></dd>
  <dt><strong><%= model_class.human_attribute_name(:modificacaoSaude) %>:</strong></dt>
  <dd><%= @ficha.modificacaoSaude %></dd>
  <dt><strong><%= model_class.human_attribute_name(:modificacaoSaudeDescricao) %>:</strong></dt>
  <dd><%= @ficha.modificacaoSaudeDescricao %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tratamento) %>:</strong></dt>
  <dd><%= @ficha.tratamento %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tratamentoDescricao) %>:</strong></dt>
  <dd><%= @ficha.tratamentoDescricao %></dd>
  <dt><strong><%= model_class.human_attribute_name(:alteracaoSaude) %>:</strong></dt>
  <dd><%= @ficha.alteracaoSaude %></dd>
  <dt><strong><%= model_class.human_attribute_name(:alteracaoSaudeDescricao) %>:</strong></dt>
  <dd><%= @ficha.alteracaoSaudeDescricao %></dd>
  <dt><strong><%= model_class.human_attribute_name(:diabetico) %>:</strong></dt>
  <dd><%= @ficha.diabetico %></dd>
  <dt><strong><%= model_class.human_attribute_name(:usoSoroCaseiro) %>:</strong></dt>
  <dd><%= @ficha.usoSoroCaseiro %></dd>
  <dt><strong><%= model_class.human_attribute_name(:alergiaBandaidEsparadrapo) %>:</strong></dt>
  <dd><%= @ficha.alergiaBandaidEsparadrapo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:bandaidEsparadrapo) %>:</strong></dt>
  <dd><%= @ficha.bandaidEsparadrapo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:autorizaBanho) %>:</strong></dt>
  <dd><%= @ficha.autorizaBanho %></dd>
  <dt><strong><%= model_class.human_attribute_name(:historicoDoencasContagiosas) %>:</strong></dt>
  <dd><%= @ficha.historicoDoencasContagiosas %></dd>
  <dt><strong><%= model_class.human_attribute_name(:historicoDoencasContagiosasDescricao) %>:</strong></dt>
  <dd><%= @ficha.historicoDoencasContagiosasDescricao %></dd>
  <dt><strong><%= model_class.human_attribute_name(:medicamentosAutorizados) %>:</strong></dt>
  <dd><%= @ficha.medicamentosAutorizados %></dd>
  <dt><strong><%= model_class.human_attribute_name(:observacoes) %>:</strong></dt>
  <dd><%= @ficha.observacoes %></dd>
  <dt><strong><%= model_class.human_attribute_name(:dataFicha) %>:</strong></dt>
  <dd><%= @ficha.dataFicha %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              fichas_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_ficha_path(@ficha), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              ficha_path(@ficha),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
