<p id="notice"><%= notice %></p>

<h1>Recursos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Quantidade</th>
      <th>Gasto</th>
      <th>Validade</th>
      <th>Observacao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recursos.each do |recurso| %>
      <tr>
        <td><%= recurso.nome %></td>
        <td><%= recurso.quantidade %></td>
        <td><%= recurso.gasto %></td>
        <td><%= recurso.validade %></td>
        <td><%= recurso.observacao %></td>
        <td><%= link_to 'Show', recurso %></td>
        <td><%= link_to 'Edit', edit_recurso_path(recurso) %></td>
        <td><%= link_to 'Destroy', recurso, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recurso', new_recurso_path %>
