<%- model_class = Recurso -%>
<div class="page-header">
  <h1> Recursos </h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= "Recurso" %></th>
      <th><%= "Quantidade" %></th>
      <th><%= "Validade" %></th>
      <th><%= "Gasto" %></th>
      <th><%=  %></th>
    </tr>
  </thead>
  <tbody>
    <% @recursos.each do |recurso| %>
      <tr>
        <td><%= recurso.nome %></td>
        <td><%= recurso.quantidade %></td>
        <td><%= recurso.validade %></td>
        <td><%= recurso.gasto %>
            <%= link_to image_tag("icons/plus.svg", size: "16"), get_recurso_gasto_path(recurso.id)%>
        </td>
        <td><%= link_to "Visualizar", recurso_path(recurso), :class => 'btn btn-default btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="botao_adicao">
</div>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_recurso_path,
            :class => 'btn btn-primary' %>
