<%- model_class = Recurso -%>
<div class="page-header">
  <h1><%= @recurso.nome %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:quantidade) %>:</strong></dt>
  <dd><%= @recurso.quantidade %></dd>
  <dt><strong><%= model_class.human_attribute_name(:gasto) %>:</strong></dt>
  <dd><%= @recurso.gasto %></dd>
  <dt><strong><%= model_class.human_attribute_name(:validade) %>:</strong></dt>
  <dd><%= @recurso.validade %></dd>
  <dt><strong><%= model_class.human_attribute_name(:observacao) %>:</strong></dt>
  <dd><%= @recurso.observacao %></dd>
</dl>

<%= link_to "Voltar",
            recursos_path, :class => 'btn btn-default'  %>

<%= link_to "Editar Lote Atual",
            edit_recurso_path(@recurso), :class => 'btn btn-default' %>

<%= link_to "Apagar",
            recurso_path(@recurso),
            :method => 'delete',
            :data => { :confirm => "Deseja Prosseguir? O histórico do recurso será apagado junto!" },
            :class => 'btn btn-danger' %>
