<%- model_class = Recurso -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:nome) %>:</strong></dt>
  <dd><%= @recurso.nome %></dd>
  <dt><strong><%= model_class.human_attribute_name(:quantidade) %>:</strong></dt>
  <dd><%= @recurso.quantidade %></dd>
  <dt><strong><%= model_class.human_attribute_name(:gasto) %>:</strong></dt>
  <dd><%= @recurso.gasto %></dd>
  <dt><strong><%= model_class.human_attribute_name(:validade) %>:</strong></dt>
  <dd><%= @recurso.validade %></dd>
  <dt><strong><%= model_class.human_attribute_name(:observacao) %>:</strong></dt>
  <dd><%= @recurso.observacao %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              recursos_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_recurso_path(@recurso), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              recurso_path(@recurso),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
