<%= form_with(model: ocorrencium, local: true) do |form| %>
  <% if ocorrencium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ocorrencium.errors.count, "error") %> prohibited this ocorrencium from being saved:</h2>

      <ul>
      <% ocorrencium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :data %>
    <%= form.date_select :data, id: :ocorrencium_data %>
  </div>

  <div class="field">
    <%= form.label :hora %>
    <%= form.time_select :hora, id: :ocorrencium_hora %>
  </div>

  <div class="field">
    <%= form.label :ocorrido %>
    <%= form.text_field :ocorrido, id: :ocorrencium_ocorrido %>
  </div>

  <div class="field">
    <%= form.label :procedimento %>
    <%= form.text_field :procedimento, id: :ocorrencium_procedimento %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
