<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @ocorrencium.data %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @ocorrencium.hora %>
</p>

<p>
  <strong>Ocorrido:</strong>
  <%= @ocorrencium.ocorrido %>
</p>

<p>
  <strong>Procedimento:</strong>
  <%= @ocorrencium.procedimento %>
</p>

<%= link_to 'Edit', edit_ocorrencium_path(@ocorrencium) %> |
<%= link_to 'Back', ocorrencia_index_path %>
